:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --second-text-color: #212121;
  --header-list-color: #212121;
  --header-link-color: #212121;
  --footer-link-color: #2196f3;
  --accent-color: #2196f3;
  --main-btn-color: #757575;
  --logo-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

/* ---------------------HEADER------------------------ */

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.span {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.header-logo:focus {
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-btn:hover,
.header-btn:focus {
  color: var(--accent-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-btn-color);
}

.header-btn:active {
  color: var(--accent-color);
}

.header-tel {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-btn-color);
}

/*---------------------HERO---------------------*/
.hero {
  background-color: #757575;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--logo-color);
  color: var(--main-title-color);
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--second-title-color);
}

.document-title {
  font-family: inherit;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.hero-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.hero-post-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/*----------------------ABOUT---------------------*/
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/*---------------------COMMAND---------------------*/
.command-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.command-title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.command-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/*----------------------FOOTER-------------------*/
.footer {
  background-color: #757575;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.footer-span {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.footer-logo:focus {
  color: var(--accent-color);
}

.footer-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

/*---------------------SECOND PAGE----------*/
/*--------------------PORT-HEADER-----------*/

.port-header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.port-header-logo:focus {
  color: var(--accent-color);
}

.port-header-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.port-header-link:hover,
.port-header-link:focus {
  color: var(--accent-color);
}

.port-header-btn:hover,
.port-header-btn:focus {
  color: var(--accent-color);
}

.port-header-tel:hover,
.port-header-tel:focus {
  color: var(--accent-color);
}

.port-header-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-btn-color);
}

.port-header-btn:active {
  color: var(--accent-color);
}

.port-header-tel {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-btn-color);
}

/*--------------PORT-BUTTON-----------------------*/
.port-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.port-item-btn:hover,
.port-item-btn:focus {
  color: var(--main-title-color);
}

.port-btn:active {
  background-color: var(--accent-color);
}
.port-btn:active {
  color: var(--main-title-color);
}

/*-----------POTRFOLIO-------------------------*/

.port-text {
  visibility: hidden;
}
.port-about-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}
.name-work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/*----------------PORT-FOOTER--------------------*/

.port-footer {
  background-color: #757575;
}

.port-footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.port-footer-span {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.port-footer-logo:focus {
  color: var(--accent-color);
}

.port-footer-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.port-footer-link-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
